*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
   } 
   *, *:before, *:after{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
   } 
   :focus, :active{outline: none;} 
   a:focus, a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   html, body{ 
    height: 100%; 
    width: 100%; 
    font-style: 100%; 
    line-height: 1; 
    font-style: 14px; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
   } 
    
   input, button, textarea{font-family: inherit;} 
    
   input::-ms-clear{display:none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner{padding: 0;border: 0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style-type: none;} 
   img{vertical-align: top;} 
    
   h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Плавный скролл */
}

/* Навигация */
.navbar {
    position: fixed;
    width: 100%;
    background: #333;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

/* Стили для блоков */
.content1 {
    height: 100vh; /* Полный экран */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: azure;
    background-image: 
        url('imgs/pop-zebra-wp81DxKUd1E-unsplash\ 1.jpg');
    background-size: cover;
}



.content2 {
    height: 105vh; /* Полный экран */
    background-color: azure;
}
.content3 {
    height: 100vh; /* Полный экран */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background-color: azure;
}

.title_container{
    text-align: center;
}
.title{
    color: white;
    font-weight:bold;
}
.title_info{
    color: white;
    padding: 50px;
    line-height: 1.2;
}







.content1, .content2, .content3 {
    border: 1px solid red; /* Временно! */
}





/* 
animation */

.title, .title_info {
    opacity: 0; /* Скрываем текст изначально */
    transform: translateY(20px); /* Смещаем вниз */
    animation: fadeInUp 1s ease-out forwards; /* Анимация появления */
}

.title {
    animation-delay: 0.5s; /* Задержка для заголовка */
}

.title_info {
    animation-delay: 1s; /* Задержка для текста */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}











.imgs-container{
    margin-top: 30px;
    display: grid;
  
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    /* grid-auto-rows: minmax(400px,auto); */
    justify-content: center;

    
}

.img-card{
    width: 300px;
}




.card{
    /* border: 1px solid black; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    border-radius: 15px;
    overflow: hidden;
}

.card h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}



/* popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-content table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.popup-content th, .popup-content td {
    padding: 10px;
    border: 1px solid #ccc;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.popup-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #555;
}















.map-container {
    width: 800px;  /* Задай нужную ширину */
    height: 700px; /* Задай нужную высоту */
    border-radius: 15px; 
    overflow: hidden; 
    margin-left: 35px;
}


.contact-info{
    background-color: rgb(110, 140, 150);
    color:white;
    padding: 15px;
    line-height: 1.5;
    border-radius: 15px;
    margin-right: 60px;
}
.city{
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid white;
}


.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между иконкой и текстом */
    margin-bottom: 10px;
}

.contact-item img {
    width: 24px; /* Размер иконок */
    height: 24px;
}











